<form [formGroup]="variablesForm" class="form-group" (submit)="onRunAlgorithm()">

  <ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
  </ng-template>

  <div class="row">
    <div class="col">
      <label> Nombre d'habitants minimum</label>
      <select class="form-control"
              (change)="onChangePopmin($event.target.value)"
              formControlName="popmin">
        <option value="100000" selected="selected" >100 000</option>
        <option value="150000">150 000</option>
        <option value="200000">200 000</option>
      </select>
    </div>
    <div class="col">
      <label> Ville dans laquelle habite le VRP</label>
      <input
        class="form-control"
        type="text"
        formControlName="srcVertex"
        [ngbTypeahead]="search1"
        (focus)="focus1$.next($any($event).target.value)"
        (click)="click1$.next($any($event).target.value)"
        [resultTemplate]="rt"
        [inputFormatter]="formatter"
        #instance1="ngbTypeahead"
      />
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-4">
      <button class="btn btn-secondary" type="submit" [disabled]="variablesForm.invalid"> Lancer l'algorithme
      </button>
    </div>
  </div>
</form>
